django-web-app/merchex/merchex/__pycache__/settings.cpython-310.pyc
django-web-app/merchex/merchex/__pycache__/urls.cpython-310.pyc
env/
db.sqlite3
__pycache__/
__pycache__
.idea
env
django-web-app/merchex/listings/__pycache__/admin.cpython-310.pyc
django-web-app/merchex/listings/__pycache__/apps.cpython-310.pyc
django-web-app/merchex/listings/__pycache__/models.cpython-310.pyc
django-web-app/merchex/listings/__pycache__/views.cpython-310.pyc
django-web-app/merchex/listings/migrations/__pycache__/__init__.cpython-310.pyc
django-web-app/merchex/listings/migrations/__pycache__/0001_initial.cpython-310.pyc
django-web-app/merchex/merchex/__pycache__/__init__.cpython-310.pyc
django-web-app/merchex/merchex/__pycache__/settings.cpython-310.pyc
django-web-app/merchex/merchex/__pycache__/urls.cpython-310.pyc
django-web-app/merchex/merchex/__pycache__/wsgi.cpython-310.pyc
