asgiref==3.8.1
charset-normalizer==3.3.2
Django==5.0.6
django-appconf==1.0.6
idna==3.7
numpy==2.0.0
pilkit==3.0
Pillow==10.0.0
requests==2.32.3
six==1.16.0
sqlparse==0.5.0
typing_extensions==4.12.2
urllib3==2.2.2
whitenoise==6.7.0
dj-database-url==1.2.0
django-heroku==0.3.1
gunicorn==20.1.0
psycopg2-binary==2.9.9
tomli==2.0.1
tzdata==2022.7
