{% extends 'listings/base.html' %}

{% block content %}
{% load static %}

<div class="title">• Bands •</div>
<p class="introduction-text">
    Discover the vibrant music scene of Northern France with our curated list of bands.<br>
    Feel free to add bands to expand this list and share your favorite northern artists with the world.
</p><br>
<div class="sticky-btn">
    <div class="button-container">
        <a href="{% url 'band-create' %}" class="btn-add-band">
          <span>Add a new band</span>
        </a>
    </div>
    </div>
{% regroup bands by name.0 as band_list %}


    {% for band in band_list %}
    
        <div class="title"><a id="{{ band.grouper }}">{{ band.grouper }}</a></div>
            {% for b in band.list %}
            <div class="introduction-text">
                <a href="{% url 'band_detail' b.id %}"><b>{{ b.name }}</b> - <i>{{ b.city }}</i></a><br>
                <img id="like-button-{{ b.id }}" src="{% if request.user in b.likes.all %}{% static 'listings/images/metal hand ON.svg' %}{% else %}{% static 'listings/images/metal hand OFF.svg' %}{% endif %}" onclick="likeBand('{{ b.id }}')" style="height: 30px; cursor: pointer; vertical-align: middle;">
                <span id="likes-{{ b.id }}" style="font-family: 'Jaini', cursive; vertical-align: middle; font-size: 1.5em;">{{ b.likes.count }}</span><br>
                {% if b.user == request.user %}
                <hr>
                <div style="display: inline-block">
                    <a href="{% url 'band-update' b.id %}" style="color: rgb(171, 171, 171) !important; font-size: 0.8em;">Update</a> | 
                    <a href="{% url 'band-delete' b.id %}" style="color: rgb(171, 171, 171) !important; font-size: 0.8em;">Delete</a>
                </div>
                {% endif %}
            </div>
            <br>
            {% endfor %}
    {% endfor %}

<script>
function likeBand(bandId) {
    fetch(`/bands/${bandId}/like/`, {
        method: 'POST',
        headers: {
            'X-CSRFToken': '{{ csrf_token }}'
        }
    })
    .then(response => response.json())
    .then(data => {
        if (data.status === 'success') {
            document.getElementById(`likes-${bandId}`).innerText = data.likes;
            const likeButton = document.getElementById(`like-button-${bandId}`);
            if (data.action === 'like') {
                likeButton.src = "{% static 'listings/images/metal hand ON.svg' %}";
            } else if (data.action === 'unlike') {
                likeButton.src = "{% static 'listings/images/metal hand OFF.svg' %}";
            }
        } else {
            alert(data.message);
        }
    });
}
</script>


{% endblock %}