{% extends 'listings/base.html' %}

{% block content %}

<h2 class="bandname">{{ band.name }}</h2>
<div class="band-container">
    <div class="band-border">
    <b>Genre :</b> {{ band.genre }}<br>
    <b>Year formed :</b> {{ band.year_formed }}<br>
    <b>Active :</b> {{ band.active|yesno }}<br>
    <b>Official Homepage :</b> <a href="{{ band.official_homepage }}">{{ band.official_homepage }}</a><br>
    </div>
</div>
<div class="band-container">
    <div class="band-border">
<h3>Bio:</h3>
<p>{{ band.biography }}</p>
</div>
</div>
<div class="band-container">
    <div class="band-border">
<h3>Merch:</h3>
<ul>
    {% for listing in band.listing_set.all %}
        <a href="{% url 'listing_detail' listing.id %}">{{ listing.description }}</a><br>
    {% empty %}
        <div class="empty-message">No merch available.</div>
    {% endfor %}
</ul>
</div>
</div>
<div class="band-container">
    <div class="band-border">
<h3>Events:</h3>
<ul>
    {% for event in band.events.all %}
        <div class="event-item">
            <strong>{{ event.date }}</strong> @ {{ event.venue }}<br>
            <b>Price:</b> {{ event.price }}€<br>
            <b>Description:</b> {{ event.description }}
        </div>
            {% empty %}
        <li class="empty-message">No events available.</li>
    {% endfor %}
</ul>
</div>
</div>
        {% if band.user == request.user %}
        <div class="event-container">
            <div class="event-border">
            <a href="{% url 'band-update' band.id %}" class="update-button-small">Update</a>
            <a href="{% url 'band-delete' band.id %}" class="delete-button-small">Delete</a>
        </div>
    </div>
        {% endif %}


{% endblock %}