{% extends 'listings/base.html' %}

{% block content %}

<div class="title">Here are the bands from the North of France:</div>
<a href="{% url 'band-create' %}" class="btn-add-band">+ Add a new band</a>
<p>
    Discover the vibrant music scene of Northern France with our curated list of bands.<br>
    Feel free to add bands to expand this list and share your favorite northern artists with the world.
</p>
<br><br>
<!-- Index for quick navigation -->
<div class="index">
    {% for letter in alphabet %}
        <a href="#{{ letter }}">{{ letter }}</a> |
    {% endfor %}
</div>
<br>
<br><br>

{% regroup bands by name.0 as band_list %}

<ul>
    {% for band in band_list %}
    <li>
        <strong><a id="{{ band.grouper }}">{{ band.grouper }}</a></strong>
        <ul>
            {% for b in band.list %}
            <li><a href="{% url 'band_detail' b.id %}">{{ b.name }} - {{ b.city }}</a></li>
            {% endfor %}
        </ul>
    </li>
    <hr>
    {% endfor %}
</ul>

{% endblock %}