{% extends 'listings/base.html' %}

{% block content %}

<h2 class="bandname">{{ band.name }}</h2>
<div class="band-container">
    <div class="band-border">
<ul>
    <li><b>Genre :</b> {{ band.genre }}</li>
    <li><b>Year formed :</b> {{ band.year_formed }}</li>
    <li><b>Active :</b> {{ band.active|yesno }}</li>
    <li><b>Official Homepage :</b> <a href="{{ band.official_homepage }}">{{ band.official_homepage }}</a></li>
</ul>
    </div>
</div>
<div class="band-container">
    <div class="band-border">
<h3>Bio:</h3>
<p>{{ band.biography }}</p>
</div>
</div>
<div class="band-container">
    <div class="band-border">
<h3>Merch:</h3>
<ul>
    {% for listing in band.listing_set.all %}
        <li><a href="{% url 'listing_detail' listing.id %}">{{ listing.description }}</a></li>
    {% empty %}
        <li class="empty-message">No merch available.</li>
    {% endfor %}
</ul>
</div>
</div>
<div class="band-container">
    <div class="band-border">
<h3>Events:</h3>
<ul>
    {% for event in band.events.all %}
        <li class="event-item">
            <strong>{{ event.date }}</strong> @ {{ event.venue }}<br>
            <b>Price:</b> {{ event.price }}€<br>
            <b>Description:</b> {{ event.description }}
        </li>
            {% empty %}
        <li class="empty-message">No events available.</li>
    {% endfor %}
</ul>
</div>
</div>
<div class="event-container">
    <div class="event-border">
        {% if band.user == request.user %}
            <a href="{% url 'band-update' band.id %}" class="update-button-small">Update</a>
            <a href="{% url 'band-delete' band.id %}" class="delete-button-small">Delete</a>
        {% endif %}
    </div>
</div>

{% endblock %}