{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'favicon/safari-pinned-tab.svg' %}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <title>N.U.B - North Underground Bands</title>
    <link rel="stylesheet" href="{% static 'listings/styles.css' %}">
</head>
<body>
    <nav>
        <div class="navbar" style="
        width: 100% !important;
        box-shadow: 0 1px 4px rgba(255, 255, 255, 0.15) !important;
        position: fixed !important;
        top: 0 !important;
        z-index: 1000 !important;
        background-color: #000 !important;
        min-height: 60px !important;
    ">
          <div class="container nav-container">
              <input class="checkbox" type="checkbox" name="" id="" />
              <div class="hamburger-lines">
                <span class="line line1"></span>
                <span class="line line2"></span>
                <span class="line line3"></span>
              </div>  
              <div class="header-text">N.U.B</div>
              <div class="menu-items">
                <li><a href="{% url 'home' %}">Home</a></li>
                <hr>
                <br>
                <li><a href="{% url 'bands_list' %}">Bands</a></li>
                <li><a href="{% url 'listing_list' %}">Merch</a></li>
                <li><a href="{% url 'event_list' %}">Events</a></li>
                <hr>
                <br>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
                <li><a href="{% url 'privacy_policy' %}">Privacy Policy</a></li>
                <li><a href="{% url 'terms_of_service' %}">Terms of Service</a></li>
                <hr>
                <br>
                {% if user.is_authenticated %}
                <li><a href="{% url 'account' user.username %}"><img src="{% static 'listings/images/account OFF2.svg' %}" style="height: 30px; vertical-align: middle; margin-right: 5px;">{{ user.username }}</a></li>
            {% else %}
                <li><a href="{% url 'login' %}"><img src="{% static 'listings/images/account OFF.svg' %}" style="height: 30px; vertical-align: middle; margin-right: 5px;">Login</a></li>
            {% endif %}
                </div>
          </div>
        </div>
      </nav>
    <div class="content">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <br><br>
        {% block content %}{% endblock %}
    </div>
    <footer>
    </footer>
</body>
</html>