{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'favicon/safari-pinned-tab.svg' %}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <title>N.U.B - North Underground Bands</title>
    <link rel="stylesheet" href="{% static 'listings/styles.css' %}">
</head>
<body>
    <div class="header-container">
        <div class="logo"><a href="{% url 'home' %}">N.U.B</a></div>
        <nav class="navbar">
            <ul class="nav-list">
                <li class="nav-item"><a href="{% url 'bands_list' %}">Bands</a></li>
                <li class="nav-item"><a href="{% url 'listing_list' %}">Merch</a></li>
                <li class="nav-item"><a href="{% url 'event_list' %}">Events</a></li>
                <li class="nav-item"><a href="{% url 'about' %}">About</a></li>
                <li class="nav-item"><a href="{% url 'contact' %}">Contact</a></li>
                {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a href="javascript:void(0)" class="dropbtn">{{ user.username }}</a>
                    <div class="dropdown-content">
                        <a href="{% url 'account' user.username %}">Account</a>
                        <a href="{% url 'logout' %}">Logout</a>
                    </div>
                </li>
                {% else %}
                    <li class="nav-item login-button"><a href="{% url 'login' %}">Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
    <div class="content">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% block content %}{% endblock %}
    </div>
    <footer>
        <div class="footer-content">
            <p class="footer-copyright">&copy; 2024 N.U.B - North Underground Bands (Clément DEFER) - All rights reserved.</p>
            <ul class="footer-links">
                <li><a href="{% url 'privacy_policy' %}">Privacy Policy</a></li>
                <li><a href="{% url 'terms_of_service' %}">Terms of Service</a></li>
            </ul>
        </div>
    </footer>
    <script src="{% static 'listings/script.js' %}"></script>
</body>
</html>