{% extends 'listings/base.html' %}

{% block content %}
<div class="title">• Contact us •</div>

<!-- Afficher le message de confirmation si le formulaire a été soumis avec succès -->
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}
<!-- Afficher le formulaire -->
<div class="form-container">
<form action="" method="post" novalidate>
    {% csrf_token %}
    {% for field in form %}
    <div class="form-group">
        {{ field.label_tag }}
        {{ field }}
        {% if field.errors %}
        <div class="errorlist">
            {% for error in field.errors %}
            <p>{{ error }}</p>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    {% endfor %}
    <br>
    <input type="submit" value="Send" class="btn-add-band">
</form>
</div>
{% endblock %}
