{% extends 'listings/base.html' %}

{% block content %}

<div class="title">• Events •</div>
<p class="introduction-text">
    Discover the upcoming events and the past events of the bands from the North of France.
</p><br>
<div class="button-container">
    <a href="{% url 'event_create' %}" class="btn-add-band">
      <span>Add a new event</span>
    </a>
  </div>

<h2 class="bandname" id="upcoming">Upcoming   Events</h2>
<div class="event-container">
    {% for event in upcoming_events %}
        <div class="event-border">
            <strong><span class="event-date">{{ event.date|date:"d F Y" }}</span><br><em>{{ event.band.name }}</em></strong>
            <hr>
            <ul>
                <li><strong>Venue:</strong> {{ event.venue }}</li>
                <li><strong>Price:</strong> {{ event.price }}€</li>
                <li><strong>Description:</strong> {{ event.description }}</li>
                <br>
                {% if event.event_link %}
                <li>
                    <div class="event-link-container">
                        <a href="{{ event.event_link }}" target="_blank" >Event Link</a>
                    </div>
                </li>
                {% endif %}
            </ul>
            <a href="{% url 'event-update' event.id %}" class="update-button-small">Update</a>
            <a href="{% url 'event-delete' event.id %}" class="delete-button-small">Delete</a>
        </div>
    {% empty %}
        <li>No upcoming events.</li>
    {% endfor %}
</div>
<br>
<hr>
<br>
<h2 class="bandname" id="past">Past   Events</h2>
<div class="event-container">
    {% for event in past_events %}
    <div class="event-border">
        <strong><span class="event-date">{{ event.date|date:"d F Y" }}</span><br><em>{{ event.band.name }}</em></strong>
        <hr>
        <ul>
            <li><strong>Venue:</strong> {{ event.venue }}</li>
            <li><strong>Price:</strong> {{ event.price }}</li>
            <li><strong>Description:</strong> {{ event.description }}</li>
            <br>
            {% if event.event_link %}
            <li>
                <div class="event-link-container">
                    <a href="{{ event.event_link }}" target="_blank" >Event Link</a>
                </div>
            </li>
            {% endif %}
        </ul>
        </div>
    {% empty %}
        <li>No past events.</li>
    {% endfor %}
</div>

{% endblock %}