{% extends 'listings/base.html' %}

{% block content %}
{% load static %}
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
<h1 class="home">Welcome to N.U.B</h1>
<div class="home-sub"><b>•</b> North Underground Bands <b>•</b></div>
<br>
<p>Discover the best underground bands from the North of France. Our mission is to bring you the latest and greatest in underground music, featuring diverse genres and unique sounds. Stay tuned for upcoming events, new releases, and exclusive interviews with your favorite bands.</p>
<br>
<div class="home">Latest news</div>
<br>
<div style="text-align: center;">
    <a href="https://www.facebook.com/events/841319044553612/?ref=newsfeed" target="_blank">
        <img src="{% static 'listings/images/001.jpg' %}" alt="Upcoming event" class="centered-image">
    </a>
    <br>
    <br>
    <a href="https://www.facebook.com/events/841319044553612/?ref=newsfeed" target="_blank">
        <img src="{% static 'listings/images/002.jpg' %}" alt="Upcoming event" class="centered-image">
    </a>
</div>
<br>
{% endblock %}