{% extends 'listings/base.html' %}

{% block content %}
<div class="event-container">
<div class="event-border">
<h2>{{ listing.description }}</h2>
<hr>
<ul>
    <li><b>Type :</b> {{ listing.type }}</li>
    <li><b>Year :</b> {{ listing.year }}</li>
    <li><b>Sold :</b> {{ listing.sold|yesno }}</li>
    <li><b>Band :</b> <a href="{% url 'band_detail' listing.band.id %}">{{ listing.band.name }}</a></li>
    <li><b>Point of Sale :</b> {{ listing.point_of_sale }}</li>
</ul>
{% if listing.user == request.user %}
    <a href="{% url 'listing-update' listing.id %}" class="update-button-small">Update</a>
    <a href="{% url 'listing-delete' listing.id %}" class="delete-button-small">Delete</a>
{% endif %}
</div>
</div>
{% endblock %}
