{% extends 'listings/base.html' %}

{% load static %}
{% block content %}
<div class="title">Conversations</div>
<hr>
<ul class="conv-list">
    {% for conversation_id, conversation in conversations.items %}
    <li class="conv-list-item">
        <a href="{% url 'message_detail' conversation.message.id %}">
            <div class="conv-item">
                {% if conversation.last_message.sender == request.user %}
                    {% with recipient=conversation.last_message.recipient %}
                        <div class="user-photo">
                            {% if recipient.profile_photo %}
                                <img src="{{ recipient.profile_photo.url }}" alt="{{ recipient.username }}" class="user-photo-img">
                            {% else %}
                                <img src="{% static 'listings/images/NO-PROFIL.png' %}" alt="{{ recipient.username }}" class="user-photo-img">
                            {% endif %}
                        </div>
                        <div class="msg-info">
                            <span class="user-name"><strong>{{ recipient.username }}</strong></span>
                            <span class="msg-preview">{{ conversation.last_message.sender.username }}: {{ conversation.last_message.body|truncatechars:20 }} - {{ conversation.last_message.created_at|date:"g:i a" }}</span>
                        </div>
                    {% endwith %}
                {% else %}
                    <div class="user-photo">
                        {% if conversation.last_message.sender.profile_photo %}
                            <img src="{{ conversation.last_message.sender.profile_photo.url }}" alt="{{ conversation.last_message.sender.username }}" class="user-photo-img">
                        {% else %}
                            <img src="{% static 'listings/images/NO-PROFIL.png' %}" alt="{{ conversation.last_message.sender.username }}" class="user-photo-img">
                        {% endif %}
                    </div>
                    <div class="msg-info">
                        <span class="user-name"><strong>{{ conversation.last_message.sender.username }}</strong></span>
                        <span class="msg-preview">{{ conversation.last_message.sender.username }}: {{ conversation.last_message.body|truncatechars:17 }} - {{ conversation.last_message.created_at|date:"g:i a" }}</span>
                    </div>
                {% endif %}
            </div>
        </a>
    </li>
    {% empty %}
    <li class="conv-list-item">No conversations found.</li>
    {% endfor %}
</ul>
{% endblock %}