{% extends 'listings/base.html' %}

{% block content %}

<h1 class="title">Privacy Policy</h1>
<p>Effective Date: 01/07/2024</p>

<p>Your privacy is important to us. This Privacy Policy explains how we collect, use, disclose, and safeguard your information when you visit our website. Please read this policy carefully to understand our views and practices regarding your personal data and how we will treat it.</p>

<h2>Information We Collect</h2>
<ul>
    <li><b>Personal Data:</b> We may collect personally identifiable information such as your name, email address, and phone number when you register on our site, subscribe to our newsletter, or fill out a form.</li>
    <li><b>Usage Data:</b> We may collect information about how you access and use our website, such as your IP address, browser type, and operating system.</li>
</ul>

<h2>How We Use Your Information</h2>
<ul>
    <li>To operate and maintain our website</li>
    <li>To improve our website and services</li>
    <li>To send periodic emails regarding your order or other products and services</li>
    <li>To follow up with you after correspondence (live chat, email, or phone inquiries)</li>
</ul>

<h2>Disclosure of Your Information</h2>
<p>We do not sell, trade, or otherwise transfer to outside parties your Personally Identifiable Information unless we provide users with advance notice. This does not include website hosting partners and other parties who assist us in operating our website, conducting our business, or serving our users, so long as those parties agree to keep this information confidential.</p>

<h2>Security of Your Information</h2>
<p>We use administrative, technical, and physical security measures to help protect your personal information. While we have taken reasonable steps to secure the personal information you provide to us, please be aware that despite our efforts, no security measures are perfect or impenetrable, and no method of data transmission can be guaranteed against any interception or other type of misuse.</p>

<h2>Changes to This Privacy Policy</h2>
<p>We may update our Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on this page. You are advised to review this Privacy Policy periodically for any changes. Changes to this Privacy Policy are effective when they are posted on this page.</p>

<p>If you have any questions about this Privacy Policy, please contact us.</p>

{% endblock %}
