{% extends 'listings/base.html' %}

{% block content %}

<h1 class="title">Terms of Service</h1>
<p>Effective Date: 01/07/2024</p>

<h2>Acceptance of Terms</h2>
<p>By accessing and using this website, you accept and agree to be bound by the terms and provision of this agreement. If you do not agree to abide by the above, please do not use this site.</p>

<h2>Use of Our Website</h2>
<p>Our website and its contents are intended solely for personal, non-commercial use. You may not use our site or its content for any purpose not related to your business with us. You are prohibited from:</p>
<ul>
    <li>Modifying, distributing, transmitting, displaying, reproducing, publishing, licensing, creating derivative works from, transferring, or selling any information, software, products, or services obtained from our website</li>
    <li>Using our website for any unlawful purpose</li>
    <li>Attempting to gain unauthorized access to any portion or feature of the site, or any other systems or networks connected to the site or to any server, or to any of the services offered on or through the site</li>
</ul>

<h2>Intellectual Property</h2>
<p>All content included on this site, such as text, graphics, logos, images, and software, is the property of <strong>N.U.B</strong> or its content suppliers and is protected by international copyright laws. The compilation of all content on this site is the exclusive property of <strong>N.U.B</strong>, with copyright authorship for this collection by <strong>N.U.B</strong>, and protected by international copyright laws.</p>

<h2>Disclaimer of Warranties and Limitation of Liability</h2>
<p>This site is provided by <strong>N.U.B</strong> on an "as is" and "as available" basis. <strong>N.U.B</strong> makes no representations or warranties of
    
    
    {% endblock %}

