/* Importation des polices de Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lekton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jaini&display=swap');

* {
    max-width: 100vw; /* Limite la largeur maximale du contenu */
}

/* Personnalisation de la scrollbar */
::-webkit-scrollbar {
    width: 12px; /* Largeur de la scrollbar */
}

::-webkit-scrollbar-track {
    background: #333; /* Couleur de fond de la piste */
}

::-webkit-scrollbar-thumb {
    background: #555; /* Couleur de fond du thumb (la partie que vous déplacez) */
    border-radius: 6px; /* Coins arrondis du thumb */
}

::-webkit-scrollbar-thumb:hover {
    background: #777; /* Couleur de fond du thumb au survol */
}

/* Pour Firefox */
* {
    scrollbar-width: thin; /* Largeur de la scrollbar */
    scrollbar-color: #555 #333; /* Couleur du thumb et de la piste */
}

.underline {
    text-decoration: underline;
    font-weight: lighter;
}

.bandname {
    font-family: 'Jaini', cursive;
    font-size: 2rem; /* Ajuste la taille du nom de groupe */
    letter-spacing: 0.1em; /* Ajoute un espacement entre les lettres */
}

.home {
    font-family: 'Jaini', cursive;
    font-size: 3rem; /* Ajuste la taille du nom de groupe */
    letter-spacing: 0.1em; /* Ajoute un espacement entre les lettres */
    text-align: center; /* Centre le texte horizontalement */
    margin: 0 0; /* Ajoute un peu de marge en haut et en bas */
}

.home-sub {
    font-family: 'Lekton', monospace;
    font-size: 1.5rem; /* Ajuste la taille du nom de groupe */
    letter-spacing: 0.1em; /* Ajoute un espacement entre les lettres */
    text-align: center; /* Centre le texte horizontalement */
    margin: 0 0; /* Ajoute un peu de marge en haut et en bas */
}

.title {
    font-family: 'Jaini', cursive;
    font-size: 3rem; /* Ajuste la taille du nom de groupe */
    letter-spacing: 0.1em; /* Ajoute un espacement entre les lettres */
    margin: 0 auto 40px; /* Ajoute un peu de marge en haut et en bas */
    text-align: center;
}

.introduction-text {
    text-align: center; /* Justifie le texte pour que chaque ligne ait la même largeur */
    width: fit-content;
    margin: 0 auto 40px; /* Centre le paragraphe horizontalement */
    background-color: #141414; /* Fond gris foncé */
    color: #fff; /* Texte en blanc pour une meilleure lisibilité sur fond sombre */
    padding: 20px; /* Espace interne pour l'espacement du texte par rapport au fond */
    border-radius: 5px;
}

.invitation-text {
    text-align: center; /* Justifie le texte pour que chaque ligne ait la même largeur */
    color: #fff; /* Texte en blanc pour une meilleure lisibilité sur fond sombre */
}

.centerlog {
    font-family: 'Jaini', cursive;
    font-size: 3rem; /* Ajuste la taille du nom de groupe */
    letter-spacing: 0.1em; /* Ajoute un espacement entre les lettres */
    margin: 10px 10px; /* Ajoute un peu de marge en haut et en bas */
    text-align: center; /* Centre le texte horizontalement */
}

/* Style de base pour le corps de la page */
body {
    font-family: 'Lekton', monospace; /* Utilisation d'une police de type machine à écrire */
    margin: 0;
    padding: 0;
    background-color: #000; /* Fond noir */
    color: #fff; /* Texte en blanc */
}

body a {
    text-decoration: none; /* Supprime le soulignement des liens */
}

/* Styles de base pour le header */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; /* Réduit l'espace à gauche et à droite */
    background-color: #fff; /* Fond blanc pour le header */
    box-shadow: 0 6px 4px rgba(255, 255, 255, 0.319); /* Ajoute une légère ombre blanche en dessous */
}

.logo {
    font-family: 'Jaini', cursive;
    font-size: 4rem; /* Ajuste la taille du logo */
    color: #000; /* Texte en noir */
    margin-left: 20px; /* Réduit l'espace à gauche du logo */
    text-decoration: none !important; /* Retire le soulignement */
}

.logo a:visited {
    color: #000; /* Assure que le texte reste noir même après avoir été visité */
}

.navbar {
    background-color: #fff; /* Fond blanc pour la navbar */
    overflow: hidden;
    padding: 5px 0;
    z-index: 500; /* Assure que la navbar est au-dessus du reste du contenu */
    margin-right: 20px; /* Réduit l'espace à droite de la navbar */
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Permet aux éléments de passer à la ligne si nécessaire */
}

.nav-item {
    margin: 0 15px;
}

.nav-item a {
    display: block;
    color: #000; /* Texte en noir */
    text-align: center;
    padding: 5px 20px;
    font-weight: 700; /* Rend le texte plus gras */
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 4px;
}

.nav-item a:visited {
    color: #555; /* Couleur des liens visités en gris foncé */
}

.nav-item a:hover {
    background-color: #ddd; /* Couleur de fond plus claire au survol */
}

.login-button a {
    background-color: green; /* Couleur de fond verte */
    color: white !important; /* Texte en blanc */
    font-weight: 700; /* Rend le texte plus gras */
    border: none; /* Pas de bordure */
    border-radius: 4px; /* Bords arrondis */
    padding: 5px 20px; /* Espacement interne */
    text-decoration: none; /* Pas de soulignement */
    transition: background-color 0.3s, color 0.3s; /* Transition en douceur */
}

.login-button a:hover {
    background-color: darkgreen; /* Couleur de fond plus sombre au survol */
}

.logout-button a {
    background-color: red;
    color: white !important; /* Texte en blanc */
    font-weight: 700; /* Rend le texte plus gras */
    border: none; /* Pas de bordure */
    border-radius: 4px; /* Bords arrondis */
    padding: 5px 20px; /* Espacement interne */
    text-decoration: none; /* Pas de soulignement */
    transition: background-color 0.3s, color 0.3s; /* Transition en douceur */
}

.logout-button a:hover {
    background-color: darkred; /* Couleur de fond plus sombre au survol */
}

/* Media queries pour la responsivité */
@media (max-width: 1200px) {
    .logo {
        font-size: 3rem; /* Réduire la taille du logo pour les écrans plus petits */
        margin-left: 30px; /* Réduire la marge à gauche du logo */
    }
}

@media (max-width: 992px) {
    .nav-item {
        margin: 0 10px; /* Réduire la marge entre les éléments de la navbar */
    }

    .footer-content {
        flex-direction: column; /* Afficher les éléments en colonne sur les petits écrans */
    }

    .footer-links {
        margin: 10px 0 0; /* Réduire la marge en haut des liens */
    }

    .footer-links li {
        margin: 5px 0; /* Réduire la marge entre les liens */
    }

    .footer-copyright {
        width: 70%; /* Le paragraphe occupe au maximum 70% de la largeur de l'écran */
        margin: 0 auto; /* Centrer le paragraphe horizontalement */
    }
}

@media (max-width: 768px) {
    .header-container {
        flex-direction: column; /* Afficher les éléments en colonne sur les petits écrans */
        align-items: center; /* Centrer les éléments */
    }

    .logo {
        margin: 0 0 20px 0; /* Supprimer la marge à gauche du logo et ajouter une marge en bas */
        font-size: 4rem; /* Restaurer la taille du logo */
    }

    .navbar {
        margin-right: 0; /* Supprimer la marge à droite de la navbar */
    }

    .nav-list {
        flex-wrap: wrap; /* Permettre aux éléments de passer à la ligne */
        justify-content: center; /* Centrer les éléments */
    }

    .nav-item {
        flex: 1 1 30%; /* Chaque élément prendra 30% de la largeur */
        margin: 5px; /* Réduire la marge entre les éléments de la navbar */
        text-align: center; /* Centrer le texte des éléments */
    }

    .footer-content {
        flex-direction: column; /* Afficher les éléments en colonne sur les petits écrans */
        box-shadow: 0 -4px 6px -4px rgba(0, 0, 0, 0.1); /* Ajoute une ombre à l'intérieur et en haut du footer */
    }

    .footer-links {
        margin: 10px 0 0; /* Réduire la marge en haut des liens */
    }

    .footer-links li {
        margin: 5px 0; /* Réduire la marge entre les liens */
    }
}

@media (max-width: 576px) {
    .logo {
        font-size: 3rem; /* Réduire davantage la taille du logo pour les très petits écrans */
    }

    .nav-item a {
        padding: 5px 10px; /* Réduire le padding des liens de la navbar */
    }

    .footer-content p {
        font-size: 0.9em; /* Réduire la taille du texte pour les très petits écrans */
    }

    .footer-links a {
        font-size: 0.9em; /* Réduire la taille du texte pour les très petits écrans */
    }
}

/* Style pour le contenu principal */
.content {
    padding: 20px;
    text-align: left; /* Aligner le contenu à gauche */
    margin-top: 20px; /* Marge supérieure égale à la hauteur de la navbar */
    margin-left: 60px; /* Marge à gauche */
    margin-right: 60px; /* Marge à droite */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.77); /* Ajoute une ombre grise en dessous du contenu */
}

/* Style pour les liens de la liste de navigation */
.content a {
    color: #ffffff; /* Couleur par défaut des liens non visités */
    text-decoration: none;
    transition: color 0.3s;
}

/* Style pour les liens visités */
.content a:visited {
    color: #a186bd; /* Couleur des liens visités */
}

/* Style pour les liens au survol */
.content a:hover {
    color: #fff; /* Couleur des liens au survol */
    text-decoration: none;
}

/* Footer styles */
footer {
    background: white;
    width: 100%;
    padding: 8px 0;
    text-align: center;
    width: 100%;
}

.footer-content {
    max-width: 1000px;
    margin: 0 auto;
    color: #000000; /* Texte en noir */
    display: flex; /* Utilisation de flexbox */
    justify-content: space-between; /* Aligner les éléments avec un espace entre eux */
    align-items: center; /* Centrer verticalement les éléments */
}

.footer-content p {
    margin: 0;
    padding: 0;
}

.footer-links {
    list-style: none;
    padding: 0;
    margin: 20px 0 10px;
}

.footer-links li {
    display: inline-block; /* Pour que chaque lien soit sur une ligne */
    margin: 0 10px;
}

.footer-links a {
    text-decoration: none;
    color: #000000;
    padding: 5px 8px;
    border: 1px solid #000000;
    transition: background-color 0.3s, color 0.3s;
}

.footer-links a:hover {
    background-color: #000000;
    color: #ffffff;
}

.social-media {
    margin-top: 10px;
}

.social-media a {
    display: inline-block;
    margin: 0 10px;
}

.social-media img {
    width: 24px;
    height: 24px;
}

/* Couleur de fond gris foncé pour les champs de saisie */
input[type="text"],
input[type="email"],
input[type="password"],
textarea,
select {
    background-color: #141414;
    color: #fff;
    border: 1px solid #555;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    width: calc(100% - 22px); /* Largeur ajustée pour tenir compte de la marge */
}

/* Styles pour les messages d'erreur */
.errorlist {
    color: red; /* Couleur du message d'erreur */
    font-size: 0.8rem; /* Taille de police du message d'erreur */
    margin-top: 4px; /* Espace au-dessus du message d'erreur */
}

/* Agrandir la zone de texte pour le champ "message" */
textarea {
    height: 150px; /* Hauteur de la zone de texte */
    resize: vertical; /* Permettre le redimensionnement vertical */
}

/* Styles supplémentaires pour les champs de saisie */
input[type="text"],
input[type="email"],
input[type="password"] {
    font-size: 1rem; /* Taille de police par défaut */
    display: block;
    width: calc(100% - 12px); /* Largeur ajustée pour tenir compte de la marge */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.alert-success {
    color: #155724;
    background-color: #000000;
    border-color: #000000;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

/* Styles généraux pour les formulaires */
.form-container {
    width: 60%; /* Largeur du formulaire */
    margin: 0 auto; /* Centre le formulaire horizontalement */
    padding: 20px; /* Espacement intérieur du formulaire */
    background-color: #000000; /* Couleur de fond */
    border: 1px solid #000000; /* Bordure */
    border-radius: 5px; /* Coins arrondis */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre douce */
}

.form-container label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="password"],
.form-container textarea,
.form-container select {
    width: calc(100% - 20px); /* Largeur ajustée pour tenir compte de la marge */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #000000;
    border-radius: 4px;
}

.form-container textarea {
    height: 150px; /* Hauteur de la zone de texte */
    resize: vertical; /* Permettre le redimensionnement vertical */
}

.form-container button {
    background-color: #4CAF50; /* Couleur de fond du bouton */
    color: white; /* Couleur du texte du bouton */
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.form-container button:hover {
    background-color: #246227; /* Couleur de fond au survol */
}

.form-group {
    margin-bottom: 20px;
}

.help-text {
    text-align: center;
    color: #666;
    font-size: 0.9em;
}

/* Style pour les zones de saisie de type date */
input[type="date"].form-control {
    background-color: black;
    color: white;
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 4px;
}

/* Style pour les menus déroulants */
select.form-control {
    background-color: black;
    color: white;
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 4px;
}

/* Style pour les options des menus déroulants */
select.form-control option {
    background-color: black;
    color: white;
}

.btn-add-band {
    display: block; /* Changez de inline-block à block pour permettre l'utilisation de margin: 0 auto; */
    background-color: green; /* Couleur de fond verte */
    color: white !important; /* Texte en blanc */
    font-weight: 700; /* Rend le texte plus gras */
    border: none; /* Pas de bordure */
    border-radius: 4px; /* Bords arrondis */
    padding: 5px 20px; /* Espacement interne */
    text-decoration: none; /* Pas de soulignement */
    transition: background-color 0.3s, color 0.3s; /* Transition en douceur */
    width: fit-content; /* Assure que la largeur du bouton s'adapte à son contenu */
    margin: 0 auto; /* Ajoutez cette ligne pour centrer le bouton horizontalement */
}

.btn-account {
    display: block; /* Changez de inline-block à block pour permettre l'utilisation de margin: 0 auto; */
    background-color: #141414; /* Couleur de fond verte */
    color: white !important; /* Texte en blanc */
    font-weight: 700; /* Rend le texte plus gras */
    border: none; /* Pas de bordure */
    border-radius: 4px; /* Bords arrondis */
    padding: 5px 20px; /* Espacement interne */
    text-decoration: none; /* Pas de soulignement */
    transition: background-color 0.3s, color 0.3s; /* Transition en douceur */
    width: fit-content; /* Assure que la largeur du bouton s'adapte à son contenu */
    margin: 0 auto; /* Ajoutez cette ligne pour centrer le bouton horizontalement */
}

.btn-account:hover {
    background-color: #343434;
}


.sign-up-button {
    display: block; /* Changez de inline-block à block pour permettre l'utilisation de margin: 0 auto; */
    background-color: rgb(0, 47, 128); /* Couleur de fond verte */
    color: white !important; /* Texte en blanc */
    font-weight: 700; /* Rend le texte plus gras */
    border: none; /* Pas de bordure */
    border-radius: 4px; /* Bords arrondis */
    padding: 5px 20px; /* Espacement interne */
    text-decoration: none; /* Pas de soulignement */
    transition: background-color 0.3s, color 0.3s; /* Transition en douceur */
    width: fit-content; /* Assure que la largeur du bouton s'adapte à son contenu */
    margin: 0 auto; /* Ajoutez cette ligne pour centrer le bouton horizontalement */
}

.sign-up-button:hover {
    background-color: rgb(12, 1, 123);
}

.btn-add-band:hover {
    background-color: darkgreen; /* Fond vert foncé au survol */
}

.empty-message {
    color: #888; /* Gris */
    font-style: italic;
}

.back-button, .update-button, .delete-button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 0;
    color: #fff;
    border-radius: 25px;
    text-decoration: none;
    font-size: 1rem;
    transition: background-color 0.3s, color 0.3s;
}

.back-button {
    background-color: #1d1d1d;
}

.back-button:hover {
    background-color: #000;
    color: #fff;
}

.update-button {
    background-color: rgb(1, 87, 1);
}

.update-button:hover {
    background-color: rgb(0, 35, 0);
    color: #fff;
}

.delete-button {
    background-color: rgb(133, 2, 2);
}

.delete-button:hover {
    background-color: rgb(45, 0, 0);
    color: #fff;
}

.index {
    text-align: center; /* Centre le texte horizontalement */
    margin: 20px 0; /* Ajoute un peu de marge en haut et en bas */
}

.index a {
    color: gray; /* Change la couleur du texte en gris */
    text-decoration: none; /* Supprime le soulignement des liens */
    margin: 0 5px; /* Ajoute un peu de marge entre les lettres */
}

.index a:hover {
    color: rgb(255, 255, 255); /* Change la couleur du texte en noir lors du survol */
}

/* Style pour la première ligne des événements */
.event-date {
    font-size: 1.2em; /* Augmente la taille de la police */
}

/* Style pour le nom du groupe en italique */
em {
    font-style: italic;
}

/* Style pour les titres des données (Venue, Price, Description) en gras */
ul li strong {
    font-weight: bold;
}

.event-item {
    margin-bottom: 30px; /* Ajoute une marge en bas de chaque élément d'événement */
}

/* Style pour l'index des événements */
.event-index {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.event-index li {
    margin: 0 10px;
}

.event-index a {
    text-decoration: none;
    color: #505050;
    font-weight: bold;
}

.event-index a:hover {
    text-decoration: underline;
}

/* static/listings/styles.css */
.centered-image {
    display: block;
    margin: auto;
    width: 60%;
}

.messages {
    list-style: none;
    padding: 0;
}

.messages .success {
    color: green;
}

.update-button-small, .delete-button-small {
    display: inline-block;
    padding: 5px 10px; /* Réduit le padding pour rendre les boutons plus petits */
    margin: 5px 0;
    text-decoration: none; /* Ajoutez cette ligne pour s'assurer qu'il n'y a pas de soulignement par défaut */
}

.update-button-small {
    background-color: rgb(0, 0, 0);
    border: 2px solid darkgreen;
    border-radius: 25px;
    text-decoration: none;
    font-size: 0.9rem; /* Réduit la taille de la police pour rendre les boutons plus petits */
    transition: background-color 0.3s, color 0.3s;
}

.update-button-small:hover {
    background-color: darkgreen;
    color: #fff;
    text-decoration: none; /* Ajoutez cette ligne pour retirer le soulignement au survol */
}

.delete-button-small {
    background-color: rgb(0, 0, 0);
    border: 2px solid darkred;
    border-radius: 25px;
    text-decoration: none;
    font-size: 0.9rem; /* Réduit la taille de la police pour rendre les boutons plus petits */
    transition: background-color 0.3s, color 0.3s;
}

.delete-button-small:hover {
    background-color: darkred;
    color: #fff;
    text-decoration: none; /* Ajoutez cette ligne pour retirer le soulignement au survol */
}

/* Styles for the delete button */
.ultime-delete-button {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.ultime-delete-button:hover {
    background-color: darkred;
}

/* Styles for the cancel button */
.ultime-cancel-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.ultime-cancel-button:hover {
    background-color: #45a049;
}

.form-login {
    width: 60%; /* Largeur du formulaire */
    margin: 0 auto; /* Centre le formulaire horizontalement */
    padding: 20px; /* Espacement intérieur du formulaire */
    background-color: #000000; /* Couleur de fond */
    border: 1px solid #000000; /* Bordure */
    border-radius: 5px; /* Coins arrondis */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre douce */
}

.form-login .input-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.form-login .input-group input[type="text"],
.form-login .input-group input[type="password"] {
    flex: 1; /* Permet aux champs de saisie de prendre autant d'espace que possible */
    padding: 10px;
    margin: 0 10px; /* Marge entre les deux champs de saisie */
    border: 1px solid #333; /* Bordure grise foncée */
    border-radius: 4px;
    background-color: #333; /* Fond gris foncé */
    color: white; /* Texte en blanc pour contraste */
}

.form-login button {
    display: block; /* Changez de inline-block à block pour permettre l'utilisation de margin: 0 auto; */
    margin: 0 auto; /* Centre le bouton horizontalement */
    font-family: 'Lekton', monospace;
    font-size: 1.2em; /* Texte légèrement plus grand */
    text-align: center;
    background-color: green;
    color: white !important; /* Texte en blanc */
    font-weight: 700; /* Rend le texte plus gras */
    border: none; /* Pas de bordure */
    border-radius: 4px; /* Bords arrondis */
    padding: 5px 20px; /* Espacement interne */
    text-decoration: none; /* Pas de soulignement */
    transition: background-color 0.3s, color 0.3s; /* Transition en douceur */
}

.form-login button:hover {
    background-color: darkgreen; /* Couleur de fond au survol */
}

.form-login button.logout-button {
    display: block; /* Changez de inline-block à block pour permettre l'utilisation de margin: 0 auto; */
    margin: 0 auto; /* Centre le bouton horizontalement */
    font-family: 'Lekton', monospace;
    font-size: 1.2em; /* Texte légèrement plus grand */
    text-align: center;
    background-color: red;
    color: white !important; /* Texte en blanc */
    font-weight: 700; /* Rend le texte plus gras */
    border: none; /* Pas de bordure */
    border-radius: 4px; /* Bords arrondis */
    padding: 5px 20px; /* Espacement interne */
    text-decoration: none; /* Pas de soulignement */
    transition: background-color 0.3s, color 0.3s; /* Transition en douceur */
}

.form-login button.logout-button:hover {
    background-color: darkred; /* Couleur de fond plus sombre au survol */
}

.form-login .success-message {
    color: green; /* Couleur du texte vert */
    text-align: center; /* Centrer le texte horizontalement */
    margin: 10px 0; /* Ajouter un peu de marge en haut et en bas */
}

.form-login .error-message {
    color: red; /* Couleur du texte rouge */
    text-align: center; /* Centrer le texte horizontalement */
    margin: 10px 0; /* Ajouter un peu de marge en haut et en bas */
}

/* Nouvelles classes pour le formulaire d'inscription */
.form-signup {
    width: 60%; /* Largeur du formulaire */
    margin: 0 auto; /* Centre le formulaire horizontalement */
    padding: 20px; /* Espacement intérieur du formulaire */
    background-color: #000000; /* Couleur de fond */
    border: 1px solid #000000; /* Bordure */
    border-radius: 5px; /* Coins arrondis */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre douce */
}

.form-signup .input-group {
    display: flex;
    flex-direction: column; /* Les éléments seront empilés verticalement */
    margin-bottom: 20px;
}

.form-signup .input-group input[type="text"],
.form-signup .input-group input[type="password"],
.form-signup .input-group input[type="email"] {
    flex: 1; /* Permet aux champs de saisie de prendre autant d'espace que possible */
    padding: 10px;
    margin-bottom: 10px; /* Marge en bas pour séparer les champs */
    border: 1px solid #333; /* Bordure grise foncée */
    border-radius: 4px;
    background-color: #333; /* Fond gris foncé */
    color: white; /* Texte en blanc pour contraste */
}

.form-signup button {
    display: block; /* Changez de inline-block à block pour permettre l'utilisation de margin: 0 auto; */
    margin: 0 auto; /* Centre le bouton horizontalement */
    font-family: 'Lekton', monospace;
    font-size: 1.2em; /* Texte légèrement plus grand */
    text-align: center;
    background-color: green;
    color: white !important; /* Texte en blanc */
    font-weight: 700; /* Rend le texte plus gras */
    border: none; /* Pas de bordure */
    border-radius: 4px; /* Bords arrondis */
    padding: 5px 20px; /* Espacement interne */
    text-decoration: none; /* Pas de soulignement */
    transition: background-color 0.3s, color 0.3s; /* Transition en douceur */
}

.form-signup button:hover {
    background-color: darkgreen; /* Couleur de fond au survol */
}

.event-link-container {
    display: inline-block !important;
    padding: 5px 10px !important;
    border-radius: 15px !important;
    background-color: rgb(30, 30, 30) !important;
    transition: background-color 0.3s, color 0.3s !important;
}

.event-link-container a {
    text-decoration: none !important;
    color: white !important;
    transition: background-color 0.3s, color 0.3s !important;
}

.event-link-container:hover {
    background-color: white !important;
}

.event-link-container:hover a {
    color: black !important;
}