{% extends 'listings/base.html' %}

{% block content %}

<div class="title">Welcome, {{ user.username }}!</div>
<div class="button-container">
    <div class="nav-item edit-profil-button"><a href="{% url 'edit_account' username=user.username %}">Edit</a></div>
    <div class="nav-item logout-button"><a href="{% url 'logout' %}">Logout</a></div>
    <div class="nav-item edit-profil-button"><a href="{% url 'delete_account' username=user.username %}">Delete Account</a></div>
</div>
<br>
<p class="introduction-text"><b>Email:</b> {{ user.email }}</p><br>
<p class="introduction-text"><b>First Name:</b> {{ user.first_name }}</p><br>
<p class="introduction-text"><b>Last Name:</b> {{ user.last_name }}</p><br>
<p class="introduction-text"><b>Role:</b> {{ user.get_role_display }}</p><br>
<p class="introduction-text"><b>Created:</b> {{ user.date_joined }}</p><br>
<p class="introduction-text"><b>Last connection:</b> {{ user.last_login }}</p><br>
<hr>

<div class="title">Our items</div>
<br>

<div class="container">
    <div class="column-container">
        <div class="column">
            <h3>Bands</h3>
            <ul>
                {% for band in bands %}
                    <li>• {{ band.name }}
                    <br>
                    <div style="color: grey; font-size: 0.8em;"><a href="{% url 'band-update' band.id %}" style="color: rgb(40, 213, 40) !important;">Update</a> | <a href="{% url 'band-delete' band.id %}" style="color: rgb(253, 86, 86) !important;">Delete</a></div></li>
                {% empty %}
                    <li style="font-style: italic; font-size: 0.9em; color: gray;">No band created.</li>
                {% endfor %}
            </ul>
        </div>
        <div class="separator"></div>
        <div class="column">
            <h3>Merch</h3>
            <ul>
                {% for listing in listings %}
                    <li>• {{ listing.band.name }} - "{{ listing.description }}"
                        <br>
                        <div style="color: grey; font-size: 0.8em;"><a href="{% url 'listing-update' listing.id %}" style="color: rgb(40, 213, 40) !important;">Update</a> | <a href="{% url 'listing-delete' listing.id %}" style="color: rgb(253, 86, 86) !important;">Delete</a></div></li>
                {% empty %}
                    <li style="font-style: italic; font-size: 0.9em; color: gray;">No merch created.</li>
                {% endfor %}
            </ul>
        </div>
        <div class="separator"></div>
        <div class="column">
            <h3>Events</h3>
            <ul>
                {% for event in events %}
                    <li>• {{ event.band.name }}  ({{ event.date|date:"d F Y" }}, {{ event.venue }})
                        <br>
                        <div style="color: grey; font-size: 0.8em;"><a href="{% url 'event-update' event.id %}" style="color: rgb(40, 213, 40) !important;">Update</a> | <a href="{% url 'event-delete' event.id %}" style="color: rgb(253, 86, 86) !important;">Delete</a></div></li>
                {% empty %}
                    <li style="font-style: italic; font-size: 0.9em; color: gray;">No event created.</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

{% endblock content %}